body {
  margin: 0;
  padding: 0;
  background: url('../static/images/bg3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: sans-serif;
}

input {
  width: auto;
  height: 30px;
  background: white;
  border-radius: 10px;
  border: none;
}

.input {
  font-size: bold;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  align-items: stretch;
  position: fixed;
  top: 50%;
  left: 610px;
  transform: translate(-30%, -50%);
  background: rgba(56, 67, 102, 0.9);
  padding: 38px;
  width: 700px;
  border-radius: 30px;
}

.input h2 {
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: sans-serif;
  letter-spacing: 3px;
  padding-top: 0;
  margin-top: -20px;
}

.login-input {
  color:white;
  display: flex;
  flex-direction: column;
}

.login-input select {
  width: 100%;
  height: 30px;
  background: white;
  border-radius: 10px;
  border: none;
  margin-top: 5px; /* Adjust margin as needed */
  margin-bottom: 5px; /* Adjust margin as needed */
}

.login-input select option:disabled {
  color: gray;
}

#rating {
  cursor: pointer;
}

/* ... (existing styles) ... */


.box-input {
  display: flex;
  justify-content:space-between;
  margin: 10px;
  border-bottom: 2px solid white;
  padding: 8px 0;
}

.box-input i {
  font-size: 23px;
  color: white;
  padding: 5px 0;
}

.box-input input {
  width: 85%;
  padding: px 0;
  background: none;
  border: none;
  outline: none;
  color: white;
  font-size: 18px;
}

.box-input input::placeholder {
  color: white;
}

.btn-input .box-input input:hover {
  background: rgba(10, 10, 10, s 0.5);
}

.btn-input {
  margin-left: 10px;
  margin-bottom: 20px;
  background: none;
  border: 1px solid white;
  width: 93%;
  padding: 10px;
  color: white;
  font-size: 18px;
  letter-spacing: 3px;
  cursor: pointer;
  transition: all .2s;
  border-radius: 10px;
}

.btn-input :hover {
  background: color;
}

.bottom {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: -20px;
}

.bottom p {
  color: white;
  font-size: 15px;
  text-decoration: none;
}

.bottom a {
  color: lightgreen;
  font-size: 15px;
  text-decoration: none;
}

.bottom a:hover {
  text-decoration: underline;
}

.btn-input:hover {
  background-color: rgba(10, 10, 10, 0.5);
}
