<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Form Page</title>
</head>
<body>
  <form id="predictionForm" method="POST">
    <div class="input">
        <h2>FORM CEK</h2>
        <div class="login-input">
            <label for="belanja_online_sebulan">Seberapa sering Anda berbelanja online dalam sebulan?</label>
            <select id="belanja_online_sebulan" name="belanja_online_sebulan">
                <option value="" disabled selected class="placeholder">--Pilih Disini--</option>
                <option value="1">Jarang sekali</option>
                <option value="2">Jarang</option>
                <option value="3">Sering</option>
                <option value="4">Sering sekali</option>
            </select>
            <span id="ratingAlert"></span>
        </div>
        <div class="login-input">
            <label for="belanja_offline_sebulan">Seberapa sering Anda berbelanja offline dalam sebulan?</label>
            <select id="belanja_offline_sebulan" name="belanja_offline_sebulan">
                <option value="" disabled selected class="placeholder">--Pilih Disini--</option>
                <option value="1">Jarang sekali</option>
                <option value="2">Jarang</option>
                <option value="3">Sering</option>
                <option value="4">Sering sekali</option>
            </select>
            <span id="ratingAlert"></span>
        </div>
        <div class="login-input">
            <label for="pengaruh_ecommerce">Menurut Anda apakah kemajuan e-commerce mempengaruhi perilaku berbelanja Anda secara offline?</label>
            <select id="pengaruh_ecommerce" name="pengaruh_ecommerce">
                <option value="" disabled selected class="placeholder">--Pilih Disini--</option>
                <option value="1">Sangat tidak mempengaruhi</option>
                <option value="2">Tidak mempengaruhi</option>
                <option value="3">Mempengaruhi</option>
                <option value="4">Sangat mempengaruhi</option>
            </select>
            <span id="ratingAlert"></span>
        </div>
        <div class="login-input">
            <label for="cari_produk">Menurut Anda seberapa mudah untuk menemukan produk di e-commerce dibandingkan toko offline?</label>
            <select id="cari_produk" name="cari_produk">
                <option value="" disabled selected class="placeholder">--Pilih Disini--</option>
                <option value="1">Sangat tidak mudah</option>
                <option value="2">Tidak Mudah</option>
                <option value="3">Mudah</option>
                <option value="4">Sangat mudah</option>
            </select>
            <span id="ratingAlert"></span>
        </div>
        <div class="login-input">
            <label for="banding_harga">Apakah Anda lebih cenderung membandingkan harga produk secara online sebelum membelinya secara offline?</label>
            <select id="banding_harga" name="banding_harga">
                <option value="" disabled selected class="placeholder">--Pilih Disini--</option>
                <option value="Ya">Ya</option>
                <option value="Tidak">Tidak</option>
            </select>
            <span id="ratingAlert"></span>
        </div>
        <button type="submit" name="form" class="btn-input" onclick="predict()">Hasil Prediksi</button>
        <div>
            <h3 style="text-align: center; color:
             white; margin: 0px; padding: 0px;">Hasil Prediksi : {{ prediction_text }}</h3>
        </div>
        
    </div>
    </form>
</body>
</html>