<!-- 
  <body>
    <form id="predictionForm" method="POST">
      <label for="Usia">Usia:</label>
      <input type="number" id="Usia" name="Usia" min="0" required />

      <label for="JenisKelamin">Jenis Kelamin:</label>
      <select id="JenisKelamin" name="JenisKelamin" required>
        <option value="Laki - Laki">Laki - Laki</option>
        <option value="Perempuan">Perempuan</option>
      </select>

      <label for="belanja_online_sebulan">Seberapa sering anda berbelanja secara online dalam sebulan (0= jarang sekali, 4= Sering sekali):</label>
      <select id="belanja_online_sebulan" name="belanja_online_sebulan" required>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>

      <label for="belanja_offline_sebulan">Seberapa sering anda mengunjungi toko fisik (offline) dalam sebulan (0= jarang sekali, 4= Sering sekali):</label>
      <select id="belanja_offline_sebulan" name="belanja_offline_sebulan" required>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>

      <label for="pengaruh_ecommerce">Menurut Anda, sejauh mana kemajuan e-commerce telah mempengaruhi perilaku belanja Anda secara offline? (0= jarang sekali, 4= Sering sekali):</label>
      <select id="pengaruh_ecommerce" name="pengaruh_ecommerce" required>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>

      <label for="cari_produk">Apakah Anda pernah merasa lebih mudah menemukan produk yang Anda inginkan atau yang sebelumnya tidak Anda ketahui di e-commerce daripada di toko fisik? (0= tidak mudah, 4= sangat mudah):</label>
      <select id="cari_produk" name="cari_produk" required>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>

      <label for="banding_harga">Apakah Anda lebih cenderung membandingkan harga produk secara online sebelum membelinya secara offline? :</label>
      <select id="banding_harga" name="banding_harga" required>
        <option value="Ya">Ya</option>
        <option value="Tidak">Tidak</option>
      </select>
      <div>
        <button type="submit" onclick="predict()">Predict</button>
        <h3>Hasil Prediksi : Cluster {{ prediction_text }}</h3>
      </div>
    </form>

    <div id="predictionResult"></div>
  </body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Form Page</title>
</head>
<body>
  <form id="predictionForm" method="POST">
    <div class="input">
        <h2>FORM CEK</h2>
        <div class="login-input">
            <label for="belanja_online_sebulan">Seberapa sering Anda berbelanja online dalam sebulan?</label>
            <select id="belanja_online_sebulan" name="belanja_online_sebulan">
                <option value="" disabled selected class="placeholder">--Pilih Disini--</option>
                <option value="1">Jarang sekali</option>
                <option value="2">Jarang</option>
                <option value="3">Sering</option>
                <option value="4">Sering sekali</option>
            </select>
            <span id="ratingAlert"></span> <!-- Alert placeholder -->
        </div>
        <div class="login-input">
            <label for="belanja_offline_sebulan">Seberapa sering Anda berbelanja offline dalam sebulan?</label>
            <select id="belanja_offline_sebulan" name="belanja_offline_sebulan">
                <option value="" disabled selected class="placeholder">--Pilih Disini--</option>
                <option value="1">Jarang sekali</option>
                <option value="2">Jarang</option>
                <option value="3">Sering</option>
                <option value="4">Sering sekali</option>
            </select>
            <span id="ratingAlert"></span> <!-- Alert placeholder -->
        </div>
        <div class="login-input">
            <label for="pengaruh_ecommerce">Menurut Anda apakah kemajuan e-commerce mempengaruhi perilaku berbelanja Anda secara offline?</label>
            <select id="pengaruh_ecommerce" name="pengaruh_ecommerce">
                <option value="" disabled selected class="placeholder">--Pilih Disini--</option>
                <option value="1">Sangat tidak mempengaruhi</option>
                <option value="2">Tidak mempengaruhi</option>
                <option value="3">Mempengaruhi</option>
                <option value="4">Sangat mempengaruhi</option>
            </select>
            <span id="ratingAlert"></span> <!-- Alert placeholder -->
        </div>
        <div class="login-input">
            <label for="cari_produk">Menurut Anda seberapa mudah untuk menemukan produk di e-commerce dibandingkan toko offline?</label>
            <select id="cari_produk" name="cari_produk">
                <option value="" disabled selected class="placeholder">--Pilih Disini--</option>
                <option value="1">Sangat tidak mudah</option>
                <option value="2">Tidak Mudah</option>
                <option value="3">Mudah</option>
                <option value="4">Sangat mudah</option>
            </select>
            <span id="ratingAlert"></span> <!-- Alert placeholder -->
        </div>
        <div class="login-input">
            <label for="banding_harga">Apakah Anda lebih cenderung membandingkan harga produk secara online sebelum membelinya secara offline?</label>
            <select id="banding_harga" name="banding_harga">
                <option value="" disabled selected class="placeholder">--Pilih Disini--</option>
                <option value="Ya">Ya</option>
                <option value="Tidak">Tidak</option>
            </select>
            <span id="ratingAlert"></span> <!-- Alert placeholder -->
        </div>
        <button type="submit" name="form" class="btn-input" onclick="predict()">Hasil Prediksi</button>
        <div>
            <h3 style="text-align: center; color:
             white; margin: 0px; padding: 0px;">Hasil Prediksi : {{ prediction_text }}</h3>
        </div>
        
    </div>
    </form>
</body>
</html>